node-red/dashboard.json
[
    {
        "id": "807fe1dfce272d86",
        "type": "tab",
        "label": "meso_status_sps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f968bc5ba08694f8",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "cf2cbf6e76b7c3a0",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v2",
        "label": "",
        "format": "{{msg.payload[1]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "eb4246577632d86a",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "cf2cbf6e76b7c3a0",
        "order": 1,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v1",
        "label": "",
        "format": "{{msg.payload[0]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "c5fff411451835a5",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "fee278237f59e39d",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v3",
        "label": "",
        "format": "{{msg.payload[2]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "651164a4040774ce",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "fee278237f59e39d",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v4",
        "label": "",
        "format": "{{msg.payload[3]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "665705110661562a",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "b4238e3cd8d8b0e7",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v5",
        "label": "",
        "format": "{{msg.payload[0]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "3077bf253748d92a",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "b4238e3cd8d8b0e7",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v6",
        "label": "",
        "format": "{{msg.payload[1]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8c6d84f8396a8811",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "f22ab2fb74c24a36",
        "order": 6,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "v7",
        "label": "",
        "format": "{{msg.payload[2]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4fe5e2b51c226991",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "6e1d7851c46e8538",
        "order": 7,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "pump",
        "label": "",
        "format": "{{msg.payload[3]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 1140,
        "wires": []
    },
    {
        "id": "09fe507a250a0211",
        "type": "function",
        "z": "807fe1dfce272d86",
        "name": "",
        "func": "for (var n in msg.payload) {\n msg.payload[n] = msg.payload[n]/100;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1260,
        "wires": [
            [
                "ba15050d92fbd510",
                "3a231d3eae53a557"
            ]
        ]
    },
    {
        "id": "ba15050d92fbd510",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "cf2cbf6e76b7c3a0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp. setpoint A",
        "format": "{{msg.payload[4]}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ee157e1473ebb98f",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "ba30a66148770fcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload[6]}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "da8668de7690de9b",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "ba30a66148770fcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload[7]}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "96d0197da01fbc49",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "ba30a66148770fcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conductivity",
        "format": "{{msg.payload[8]}} mS/cm",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "9772f5c1bb00d37e",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "ba30a66148770fcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oxygen",
        "format": "{{msg.payload[9]}} mg/l",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "3283c2efbd8fb569",
        "type": "function",
        "z": "807fe1dfce272d86",
        "name": "",
        "func": "for (var n in msg.payload) {\n msg.payload[n] = msg.payload[n]/100;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "ee157e1473ebb98f",
                "da8668de7690de9b",
                "96d0197da01fbc49",
                "9772f5c1bb00d37e"
            ]
        ]
    },
    {
        "id": "3a231d3eae53a557",
        "type": "ui_text",
        "z": "807fe1dfce272d86",
        "group": "fee278237f59e39d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp. setpoint B",
        "format": "{{msg.payload[5]}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3e8f2df4291f54e3",
        "type": "modbus-read",
        "z": "807fe1dfce272d86",
        "name": "Read 32004 - 32009",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "32004",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "88c26d75679c4cd3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "4fe5e2b51c226991",
                "665705110661562a",
                "3077bf253748d92a",
                "8c6d84f8396a8811",
                "09fe507a250a0211"
            ],
            []
        ]
    },
    {
        "id": "104cf7c2095f1316",
        "type": "modbus-read",
        "z": "807fe1dfce272d86",
        "name": "Read 32000 -32003",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "32000",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "88c26d75679c4cd3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "eb4246577632d86a",
                "f968bc5ba08694f8",
                "c5fff411451835a5",
                "651164a4040774ce",
                "38897f20e05b82c0"
            ],
            []
        ]
    },
    {
        "id": "39b13700557fed27",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "cf2cbf6e76b7c3a0",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Heater A",
        "label": "",
        "format": "{{msg.payload[14]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "979d04842262847b",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "cf2cbf6e76b7c3a0",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Cooler A",
        "label": "",
        "format": "{{msg.payload[13]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "3ed43a9e3bd5633f",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "fee278237f59e39d",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Heater B",
        "label": "",
        "format": "{{msg.payload[16]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "2511b9d3699a8643",
        "type": "ui_gauge",
        "z": "807fe1dfce272d86",
        "name": "",
        "group": "fee278237f59e39d",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Cooler B",
        "label": "",
        "format": "{{msg.payload[15]}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#00b500",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 780,
        "wires": []
    },
    {
        "id": "38897f20e05b82c0",
        "type": "debug",
        "z": "807fe1dfce272d86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "cf2cbf6e76b7c3a0",
        "type": "ui_group",
        "name": "Tank A",
        "tab": "52b4dd8205b47703",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fee278237f59e39d",
        "type": "ui_group",
        "name": "Tank B",
        "tab": "52b4dd8205b47703",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4238e3cd8d8b0e7",
        "type": "ui_group",
        "name": "Empty",
        "tab": "52b4dd8205b47703",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f22ab2fb74c24a36",
        "type": "ui_group",
        "name": "Flush",
        "tab": "52b4dd8205b47703",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e1d7851c46e8538",
        "type": "ui_group",
        "name": "Pump",
        "tab": "52b4dd8205b47703",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba30a66148770fcb",
        "type": "ui_group",
        "name": "MPS",
        "tab": "52b4dd8205b47703",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88c26d75679c4cd3",
        "type": "modbus-client",
        "name": "modbus_client",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "134.1.4.23",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "52b4dd8205b47703",
        "type": "ui_tab",
        "name": "Tank pair 1 - SPS status",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]